@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 1.5rem;
  font-family: 'Manrope', sans-serif;
  color: #858fad;
  background-color: #fafbff;
  background-image: url("../images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  body {
    background-size: contain;
  }
}

ul {
  list-style: none;
}

hr {
  border: 0;
}

.main {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden-mobile {
  display: none;
}

@media (min-width: 800px) {
  .hidden-mobile {
    display: inherit;
  }
}

.btn {
  cursor: pointer;
  border: 0;
}

.badge {
  padding: .2rem .6rem;
  font-size: .8em;
  color: #ff8c66;
  background-color: #feece7;
  border-radius: 100vh;
}

input[type=range] {
  position: relative;
  z-index: 3;
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #10d5c2;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: ew-resize;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 10px 20px 10px rgba(165, 243, 235, 0.5);
          box-shadow: 0 10px 20px 10px rgba(165, 243, 235, 0.5);
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border-color: transparent;
  background: #10d5c2;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb:active {
  cursor: ew-resize;
  transform: scale(1.05);
  box-shadow: 0 10px 20px 10px rgba(165, 243, 235, 0.5);
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #10d5c2;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 2;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  background: transparent;
  border-radius: 5px;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.header {
  min-height: 16rem;
  margin-bottom: 3.2rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header h1 {
  margin-bottom: 1.6rem;
  font-size: 1.3em;
  color: #293356;
}

@media (min-width: 800px) {
  .header h1 {
    font-size: 1.8em;
  }
}

.header p {
  max-width: 22ch;
}

@media (min-width: 800px) {
  .header p {
    max-width: unset;
  }
}

.btn-toggle {
  position: relative;
  width: 4.8rem;
  height: 2.4rem;
  background-color: #cdd7ee;
  border-radius: 100vh;
  -webkit-transition: background .3s ease-in;
  transition: background .3s ease-in;
}

.btn-toggle:after {
  content: '';
  position: absolute;
  top: .3rem;
  left: .3rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.btn-toggle.is-active {
  background-color: #10d5c2;
}

.btn-toggle.is-active:after {
  -webkit-transform: translateX(2.4rem);
          transform: translateX(2.4rem);
}

.card {
  padding: 3.2rem 0;
  text-align: center;
  background-color: white;
  border-radius: .8rem;
  -webkit-box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
          box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
}

.pricing {
  width: 100%;
  max-width: 36rem;
}

@media (min-width: 800px) {
  .pricing {
    max-width: 48rem;
  }
}

.pricing__header {
  position: relative;
}

@media (min-width: 800px) {
  .pricing__header {
    padding: 0 3.2rem;
  }
  .pricing__header .pricing__price {
    position: absolute;
    top: 0;
    right: 3.2rem;
  }
}

.pricing__pageviews {
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .pricing__pageviews {
    line-height: 56px;
    text-align: left;
  }
}

.pricing__price {
  margin-bottom: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 370px) {
  .pricing__price {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.pricing__price .value {
  margin-right: 1.2rem;
  font-size: 2.4em;
  color: #293356;
  font-weight: 800;
}

.pricing__slider {
  position: relative;
  margin: 3.2rem auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .pricing__slider {
    width: 100%;
    margin: 3.2rem auto 4.8rem auto;
  }
}

.pricing__slider input[type="range"] {
  position: relative;
}

.pricing__slider__progress-bg, .pricing__slider__progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  height: 8px;
  margin: 0 auto;
  pointer-events: none;
  border-radius: 8px;
  background: #a5f3eb;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 2;
}

.pricing__slider__progress-bg {
  width: 100%;
  z-index: 1;
  background: #eaeefb;
}

.pricing__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 370px) {
  .pricing__toggle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 800px) {
  .pricing__toggle {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.pricing__toggle button {
  margin: 1.6rem .8rem;
}

@media (min-width: 370px) {
  .pricing__toggle button {
    margin: 0 .8rem;
  }
}

.pricing__divider {
  width: 100%;
  height: 1px;
  margin: 3.2rem 0;
  background-color: rgba(0, 0, 0, 0.05);
}

@media (min-width: 800px) {
  .pricing__cta {
    padding: 0 3.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pricing__cta ul {
  margin-bottom: 3.2rem;
}

@media (min-width: 800px) {
  .pricing__cta ul {
    margin-bottom: 0;
  }
}

.pricing__cta ul li {
  color: #858fad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .pricing__cta ul li {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.pricing__cta ul li:before {
  content: '';
  width: 4.6rem;
  height: 2.6rem;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pricing__cta button {
  padding: 1.6rem 4.8rem;
  color: #bdccff;
  background-color: #293356;
  border-radius: 100vh;
}

.pricing__cta button:hover {
  color: white;
}

.footer {
  margin: 3.2rem 0;
}

@media (min-width: 800px) {
  .footer {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 3.2rem;
    font-size: 1.4rem;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */