@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

$breakpoint: 800px;

// - Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
// - Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
// - Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
// - Light Red (Discount Text): hsl(15, 100%, 70%)
// - Pale Blue (CTA Text): hsl(226, 100%, 87%)

// ### Neutral

// - White (Pricing Component Background): hsl (0, 0%, 100%)
// - Very Pale Blue (Main Background): hsl(230, 100%, 99%)
// - Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
// - Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
// - Grayish Blue (Text): hsl(225, 20%, 60%)
// - Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)

$main-bg: hsl(230, 100%, 99%);
$card-bg: hsl(0, 0%, 100%);

$grey-text-color: hsl(225, 20%, 60%);
$dark-text-color: hsl(227, 35%, 25%);

$slider-empty-bg: hsl(224, 65%, 95%);
$slider-bg: hsl(174, 77%, 80%);
$slider-thumb-bg: hsl(174, 86%, 45%);

$toggle-bg: hsl(223, 50%, 87%);
$toggle-active-bg: hsl(174, 86%, 45%);

$discount-text-color: hsl(15, 100%, 70%);
$discount-bg: hsl(14, 92%, 95%);

$cta-text: hsl(226, 100%, 87%);
$cta-bg: hsl(227, 35%, 25%);

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    color: $grey-text-color;
    background-color: $main-bg;
    background-image: url('../images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 300%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $breakpoint)
    {
        background-size: contain;
    }
}

ul {
    list-style: none;
}

hr {
    border: 0;
}

.main {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-mobile {
    display: none;
    @media (min-width: $breakpoint)
    {
        display: inherit;
    }
}

.btn {
    cursor: pointer;
    border: 0;
}

.badge {
    padding: .2rem .6rem;
    font-size: .8em;
    color: $discount-text-color;
    background-color: $discount-bg;
    border-radius: 100vh;
}

input[type=range] {
    position: relative;
    z-index:3;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
  
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: $slider-thumb-bg;
    background-image: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 2;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    
    &:active {
        cursor: ew-resize ;
        transform: scale(1.05);
        box-shadow: (0 10px 20px 10px rgba($slider-bg, .5));
    }
}
  
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border-color: transparent;
    background: $slider-thumb-bg;
    background-image: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:active {
        cursor: ew-resize ;
        transform: scale(1.05);
        box-shadow: (0 10px 20px 10px rgba($slider-bg, .5));
    }
}
  
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: $slider-thumb-bg;
    background-image: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 2;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    background: transparent;
    border-radius: 5px;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }

.header {
    min-height: 16rem;
    margin-bottom: 3.2rem;
    text-align: center;
    align-items: center;
    background-image: url('../images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1 {
        margin-bottom: 1.6rem;
        font-size: 1.3em;
        color: $dark-text-color;

        @media (min-width: $breakpoint)
        {
            font-size: 1.8em;
        }
    }

    p {
        max-width: 22ch;
        @media (min-width: $breakpoint)
        {
            max-width: unset;
        }
    }
}

.btn-toggle {
    position: relative;
    width: 4.8rem;
    height: 2.4rem;
    background-color: $toggle-bg;
    border-radius: 100vh;
    transition: background .3s ease-in;

    &:after {
        content: '';
        position: absolute;
        top: .3rem;
        left: .3rem;
        width: 1.8rem;
        height: 1.8rem;
        background-color: white;
        border-radius: 50%;
        transition: .3s ease-in;
    }

    &.is-active {
        background-color: $toggle-active-bg;
        &:after {
            // left: initial;
            transform: translateX(2.4rem)
        }
    }
}

.card {
    padding: 3.2rem 0;
    text-align: center;
    background-color: $card-bg;
    border-radius: .8rem;
    box-shadow: 0 8px 12px 1px rgba(29,17,51,.04),
    0 3px 16px 2px rgba(9,32,77,.12),
    0 5px 10px -3px rgba(29,17,51,.12);
}

.pricing {
    width: 100%;
    max-width: 36rem;
    
    @media (min-width: $breakpoint)
    {
        max-width: 48rem;
    }

    &__header {
        position: relative;

        @media (min-width: $breakpoint)
        {
            padding: 0 3.2rem;
            .pricing__price {
                position: absolute;
                top: 0;
                right: 3.2rem;
            }
        }
    }

    &__pageviews {
        text-transform: uppercase;

        @media (min-width: $breakpoint)
        {
            line-height: 56px;
            text-align: left;
        }
    }

    &__price {
        margin-bottom: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 370px)
        {
            flex-direction: row;
        }



        .value {
            margin-right: 1.2rem;
            font-size: 2.4em;
            color: $dark-text-color;
            font-weight: 800;
        }
    }

    &__slider {
        position: relative;
        margin: 3.2rem auto;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $breakpoint)
        {
            width: 100%;
            margin: 3.2rem auto 4.8rem auto;
        }

        input[type="range"] {
            position: relative;
        }

        &__progress-bg,
        &__progress-bar {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 50%;
            height:8px;
            margin: 0 auto;
            pointer-events: none;
            border-radius: 8px;
            background: $slider-bg;
            transition: all .3s ease-in-out;
            z-index: 2;
        }

        &__progress-bg {
            width: 100%;
            z-index: 1;
            background: $slider-empty-bg;
        }
    }

    &__toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 370px)
        {
            flex-direction: row;
        }

        @media (min-width: $breakpoint)
        {
            justify-content: flex-end;
        }
        button {
            margin: 1.6rem .8rem;

            @media (min-width: 370px)
            {
                margin: 0 .8rem;
            }
        }
    }

    &__divider {
        width: 100%;
        height: 1px;
        margin: 3.2rem 0;
        background-color: rgba(0,0,0,.05);
    }

    &__cta {
        @media (min-width: $breakpoint)
        {
            padding: 0 3.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            margin-bottom: 3.2rem;

            @media (min-width: $breakpoint)
            {
                margin-bottom: 0;
            }

            li {
                color: $grey-text-color;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (min-width: $breakpoint)
                {
                    justify-content: flex-start;
                }
                &:before {
                    content: '';
                    
                    width: 4.6rem;
                    height: 2.6rem;
                    background-image: url('../images/icon-check.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }            
        }

        button {
            padding: 1.6rem 4.8rem;
            color: $cta-text;
            background-color: $cta-bg;
            border-radius: 100vh;

            &:hover {
                color: white;
            }
        }
    }
}

.footer {
    margin: 3.2rem 0;

    @media (min-width: $breakpoint)
    {
        width: 100%;
        margin: 0;
        position: absolute;
        bottom: 3.2rem;
        font-size: 1.4rem;
        text-align: center;
    }
}